body {
  background-image: url("HP_paper.gif");
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#808080;
    height:400px;
    width:100px;
    float:left;
    padding:5px;        
}
#section {
    width:350px;
    float:left;
    padding:20px;    
}