body {
  background-image: url("HP_paper.gif");
}
a{
  text-decoration: none;
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    
    background-color:#BC8F8F;
    height:500px;
    width:290px;
    float:left;
    
}
#section {
    width:660px;
    float:center;
    padding:100px; 
background-color: white;
}
#p1
{
  font-size: 24px;
  color:black;
  font-weight: bold;
  float:left;
}
#p2
{
  font-size: 24px;
  color:black;
  font-weight: bold;
  float:left;
}