body {
  background-image: url("HP_paper.gif");
}
#h1 {
 text-align:center ;
  
}

#p1 {

  margin-left: 700px;

  font-size: 25px;


}
#p2 {
 margin-left:700px;
  font-size: 25px;
  
}
#p3 {
  text-align: center;
  font-size:20px;
  font-weight: bold;
}
#p4 {
  text-align: center;
  font-size:17px;
  font-weight: bold;
}