body {
  background-image: url("HP_paper.gif");
}


a{
  text-decoration: none;
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    
    background-color:#BC8F8F;
    height:600px;
    width:340px;
    float:left;
    
}
#section
{
    width:850px;
    height:450px;
  
font-style: bold;
padding:90px;
background-image: url("nn.jpg");
background-repeat:no-repeat;

}

#section1
{
  width:850px;
    height:600px;
  float: right;
  padding:10px;
background-image: url("ssn.jpg");
background-repeat:no-repeat;
text-align: justify;


}
#p1
{
  font-size: 24px;
  color:black;
  font-weight: bold;
  float:left;
}
#p2
{
  font-size: 24px;
  color:black;
  font-weight: bold;
  float:left;
}

#footer
{
  background-color: #800000;
padding:26px;
clear:both;
text-align: center;
font-size: 15px;
}